<a href="https://colab.research.google.com/github/matsonah/ClarkeStatsSpring2022/blob/main/Spring_2022_Module_2_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Module 2: Descriptive Statistics

Featured outcomes: 

> Language and Terminology (LT), Critical Thinking (CT), and 

> Numerical and Graphical Exploration (NGE) 

Targetted stones: 18-21

Chapter from text: [Chapter 2](https://openstax.org/books/introductory-statistics/pages/2-introduction)

In [1]:
### Code Block 1
# This code block loads data into R for you to explore later. 
# Pick new data from the provided data sets or your own source. 
# Personalize this code by switching out the police data with your chosen data. 

urlfile="https://stacks.stanford.edu/file/druid:yg821jf8611/yg821jf8611_mn_saint_paul_2020_04_01.rds"
fulldata=readRDS(url(urlfile))

In [22]:
### Code Block 2 
# Requires a green check mark next to Code Block 1. 

# Stones 18 - 21 include identifying descriptive statistics and generating them. 
sample_size = 30     
srs.sample <- fulldata[ 
                  sample( 1:nrow(fulldata),
                          sample_size,
                          replace = FALSE),
                      ]
head(srs.sample,2)

       raw_row_number date       time       lat      lng
345417 644612         2015-06-24 84360 secs 44.95206 -93.1619
29189  508641         2011-01-16 64260 secs 44.93068 -93.0763
       police_grid_number subject_age subject_race subject_sex type
345417 105                NA          white        female      vehicular
29189  194                NA          hispanic     male        vehicular
       citation_issued outcome frisk_performed search_conducted search_vehicle
345417 FALSE           NA      FALSE           FALSE            FALSE
29189  FALSE           NA      FALSE           FALSE            FALSE
       raw_race_of_driver
345417 White
29189  Hispanic

In [25]:
### Code Block 3 
# Requires a green check mark next to Code Block 2. 
# In the default data set, police_grid_number is <chr> when it should be <dbl>.
# Your data set might already have a column with a <dbl> data type. 
# Personalize this code block by switching out the column name to match your 
# desired column name. 

# Click play and then scroll to the right to see the column we added. 

srs.sample$quant1 <- as.numeric(srs.sample$police_grid_number)   
head(srs.sample,2)

       raw_row_number date       time       lat      lng
345417 644612         2015-06-24 84360 secs 44.95206 -93.1619
29189  508641         2011-01-16 64260 secs 44.93068 -93.0763
       police_grid_number subject_age subject_race subject_sex type
345417 105                NA          white        female      vehicular
29189  194                NA          hispanic     male        vehicular
       citation_issued outcome frisk_performed search_conducted search_vehicle
345417 FALSE           NA      FALSE           FALSE            FALSE
29189  FALSE           NA      FALSE           FALSE            FALSE
       raw_race_of_driver quant1
345417 White              105
29189  Hispanic           194

In [27]:
### Code Block 4
# Requires a green check mark next to Code Block 3.
# cat is short for concatenate or string together. 

cat(sep="","The median is ", median(srs.sample$quant1), ", and the mean is ", mean(srs.sample$quant1), ".\n\n")

The median is 87.5, and the mean is 100.7333.

In Code Block 1, you started a list of questions after your page header. You should have at least three by now. Find out the answers to your questions (ask around, search the Internet, ...). Write down the answers. Either take a picture of your questions and answers or save your document as a PDF. You need access to the file you just created (photo or PDF) before you proceed to the next step. 

**Stone claiming:**

> Go to Teams. 

>Find our class Team. 

>Find the Assignments tab. 

>Find the Week 1 Self Claim 1 assignment. 

> Attach your file to the assignment and click "Turn In"

You have finished this file. Go to [Spring 2022 Module 1 B](https://colab.research.google.com/drive/1PeOIYYRf5AWyOYEv47r0zsPh3-gXffdE?usp=sharing) now.