<a href="https://colab.research.google.com/github/matsonah/ClarkeStatsSpring2022/blob/main/Spring_2022_Module_1_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Module 1: Sampling and Data

Featured outcomes: 

> Common Good (CG), Professional Behavior (PB),

> Language and Terminology (LT), Critical Thinking (CT), and 

> Fundamental Ideas of Sampling (FIS) 

Targetted stones: 8-17

Chapter from text: [Chapter 1 Section 2](https://openstax.org/books/introductory-statistics/pages/1-2-data-sampling-and-variation-in-data-and-sampling)

In [ ]:
### Code Block 1
# This code block loads data into R for you to explore later. 

# Read the description for Stone 1. Get out a piece of paper or start
# a document on your computer for you to record your questions as you work 
# through this R program. 

# At the top of the page, write your name and: "Week 1, Self Claim 1"
# On the next line, write: "Stone 1, Outcome CT" 

# The rest of the page is for your questions. 
# When you have three questions articulated that 
# help you figure out what is going on, you can claim them for Stone 1. 

# urlfile is a temporary name so you can paste a website there and not have to 
# paste it in the middle of other code. Anytime you want the full website, you 
# can just type urlfile to have R remember the website. 
urlfile="https://stacks.stanford.edu/file/druid:yg821jf8611/yg821jf8611_mn_saint_paul_2020_04_01.rds"

# This line of code loads the RDS data set from the website stored in urlfile 
# and saves that data as fulldata. Imagine R saving the data as a really
# sophisticated yet easy to access spreadsheet. 
# Anytime we want to access the full data set we can just type fulldata. 
# Typically, we want pieces of it though and not the full thing. 
fulldata=readRDS(url(urlfile))


# This snippet of code prints out the first five rows read by R.
head(fulldata, 5)

# Click the play button on the left. When you see a green checkmark, 
# the program has compiled correctly.

  raw_row_number date       time       lat      lng       police_grid_number
1 93569          2001-01-01  4380 secs 44.98110 -93.02019 39
2 93570          2001-01-01  4440 secs 44.95936 -93.14155 87
3 93571          2001-01-01  6420 secs 44.95916 -93.07182 94
4 93572          2001-01-01  8520 secs 44.96015 -93.09198 92
5 93581          2001-01-01 54060 secs 44.95936 -93.14155 87
  subject_age subject_race           subject_sex type      citation_issued
1 NA          white                  male        vehicular FALSE
2 NA          black                  male        vehicular FALSE
3 NA          hispanic               male        vehicular FALSE
4 NA          asian/pacific islander male        vehicular FALSE
5 NA          black                  male        vehicular FALSE
  outcome frisk_performed search_conducted search_vehicle raw_race_of_driver
1 NA      FALSE           FALSE            FALSE          White
2 NA       TRUE           FALSE            FALSE          Black
3 NA      FALSE           FALSE            FALSE          Hispanic
4 NA       TRUE            TRUE             TRUE          Asian
5 NA       TRUE            TRUE             TRUE          Black

In [ ]:
### Code Block 2 
# Requires a green check mark next to Code Block 1. 

# After loading the data into R, you can have R tell you the names of each 
# column in the data set by using the command, "names." 
names(fulldata)

# If I want to know the name of the fourth column, I can type: 
names(fulldata)[4]

# What happens if the column number is not valid?
names(fulldata)[100]

# This time, clicking play to run the program will print out the names, the 
# name of the fourth column, and what it sounds like when R doesn't like what 
# you typed but can still compile your code.

 [1] "raw_row_number"     "date"               "time"
 [4] "lat"                "lng"                "police_grid_number"
 [7] "subject_age"        "subject_race"       "subject_sex"
[10] "type"               "citation_issued"    "outcome"
[13] "frisk_performed"    "search_conducted"   "search_vehicle"
[16] "raw_race_of_driver"

[1] "lat"

[1] NA

In [ ]:
### Code Block 3 
# Requires a green check mark next to Code Block 1. 

length(fulldata)                  # counts how many columns are in fulldata
length(fulldata$raw_row_number)   # change the column by picking a new name 
                                  # from Code Block 2

[1] 16

[1] 675156

In [ ]:
### Code Block 4
# Requires a green check mark next to Code Block 1.
names(fulldata)
table(fulldata$subject_race)  # Pick a column to see aggregated entries.

 [1] "raw_row_number"     "date"               "time"
 [4] "lat"                "lng"                "police_grid_number"
 [7] "subject_age"        "subject_race"       "subject_sex"
[10] "type"               "citation_issued"    "outcome"
[13] "frisk_performed"    "search_conducted"   "search_vehicle"
[16] "raw_race_of_driver"

asian/pacific islander                  black               hispanic
                 54904                 188761                  43062
                 white                  other                unknown
                265143                   5292                      0

In Code Block 1, you started a list of questions after your page header. You should have at least three by now. Find out the answers to your questions (ask around, search the Internet, ...). Write down the answers. Either take a picture of your questions and answers or save your document as a PDF. You need access to the file you just created (photo or PDF) before you proceed to the next step. 

**Stone claiming:**

> Go to Teams. 

>Find our class Team. 

>Find the Assignments tab. 

>Find the Week 1 Self Claim 1 assignment. 

> Attach your file to the assignment and click "Turn In"

You have finished this file. Go to [Spring 2022 Module 1 B](https://colab.research.google.com/drive/1PeOIYYRf5AWyOYEv47r0zsPh3-gXffdE?usp=sharing) now.